#Создание дашборда по пользовательским событиям для агрегатора новостей

[Дашборд](https://public.tableau.com/app/profile/liza1994/viz/Vetlugina_pr/Dashboard1?publish=yes)  
[Презентация](https://disk.yandex.ru/i/TXg79OjTDaLXlQ)

In [ ]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
!pip install psycopg2-binary

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.7/dist-packages (2.9.3)

In [ ]:
db_config = {'user': 'my user', # имя пользователя
            'pwd': 'my_password', # пароль
            'host': 'host',
            'port': 0000, # порт подключения
            'db': 'db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

In [ ]:
query = '''
           SELECT * 
           FROM dash_visits
        '''

In [ ]:
data = pd.io.sql.read_sql(query, con = engine)

In [ ]:
data.to_csv('dash_visits.csv', index = False)

In [ ]:
visits_data = pd.read_csv('dash_visits.csv', parse_dates=['dt'])

In [ ]:
visits_data.head(5)

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

In [ ]:
visits_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

In [ ]:
visits_data["date"] = visits_data["dt"].dt.date
visits_data["time"] = visits_data["dt"].dt.time

In [ ]:
visits_data.head(5)

,record_id,item_topic,source_topic,age_segment,dt,visits,date,time
0,1040597,Деньги,Авто,18-25,2019-09-24 18:32:00,3,2019-09-24,18:32:00
1,1040598,Деньги,Авто,18-25,2019-09-24 18:35:00,1,2019-09-24,18:35:00
2,1040599,Деньги,Авто,18-25,2019-09-24 18:54:00,4,2019-09-24,18:54:00
3,1040600,Деньги,Авто,18-25,2019-09-24 18:55:00,17,2019-09-24,18:55:00
4,1040601,Деньги,Авто,18-25,2019-09-24 18:56:00,27,2019-09-24,18:56:00

In [ ]:
visits_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
 6   date          30745 non-null  object
 7   time          30745 non-null  object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 1.9+ MB

In [ ]:
visits_data.to_csv('dash_visits.csv', index = False)

In [ ]:
from google.colab import files
files.download('dash_visits.csv')